html{
	/* background-color: var(--tertiary-color);
	font-family: var(--body-font);
	font-weight: 400;
	color: var(--tertiary-color); */
}

body{
	background-color: var(--primary-color);
}

.nav-item-2{
    color: var(--secondary-color);
}

header{
	margin: 1rem;
	display: flex;
    flex-direction: column;
}

.background{
    font-family: var(--heading-font);
    color: var(--tertiary-color);
    opacity: 5%;
    font-size: 6rem;
    line-height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    word-break: break-word;
}

h1{
	font-family: var(--heading-font);
	color: var(--tertiary-color);
	font-size: 9rem;
	line-height: 8.25rem;
	text-align: left;
	margin-top: 3rem;
}

.note{
	text-decoration: underline var(--blue);
}

.arrow{
	display: none;
}

.descriptors{
	display: none;
}

#info{
	display: flex;
	justify-content: space-between;
	color: var(--tertiary-color);
	font-size: 1rem;
	padding-top: 1rem;
}

.square{
	display: none;
}

h2{
	font-size: 1rem;
	padding: 1rem;
}

#block{
	padding: 1rem;
	color: var(--primary-color);
	font-weight: 500;
}

.subheading{
	display: flex;
	justify-content: space-between;
	background-color: var(--blue);
	color: var(--tertiary-color);
	width: 100vw; 
    left: calc(-50vw + 50%);
	border-bottom: none;
	position: -webkit-sticky;
	position: sticky;
	top: 90px;
}

#paragraphs{
	background-color: var(--tertiary-color);
	width: 100vw; 
    position: relative;
    left: calc(-50vw + 50%);
}

.paragraph{
	margin-bottom: 2rem;
}

.example,.example-2{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

#block p{
	line-height: 1.5rem;
}

/* FONT CHANGES */
.TNR{
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.6rem;
	color: var(--blue);
}

.TOR{
	font-family: "EB Garamond";
	font-size: 1.6rem;
	color: var(--blue);
}

.cicero{
	font-family: "Averia Serif Libre";
	font-size: 3rem;
	color: var(--blue);
	padding-top:1rem;
}

.plantin{
	font-family: "Baskervville";
	font-size: 3rem;
	color: var(--blue);
}

.TNR-2{
	font-family: 'Times New Roman', Times, serif;
	font-size: 3rem;
	color: var(--blue);
}
/* END OF FONT CHANGES */

blockquote{
	color: var(--primary-color);
	font-family: var(--heading-font);
}

blockquote:hover{
	transition: color 0.5s ease-in-out;
	font-family: var(--accent-font);
	color: var(--secondary-color);
}

nav ul{
    background-color: var(--primary-color);
	color: var(--tertiary-color);
	padding: 2rem;
}

.article-links{
	display: flex;
	gap: 1.5rem;
}

.nav-items{
	text-align: left;
}

mark{
	background-color: var(--blue);
	color: var(--secondary-color);
	font-weight: 500;
	padding-left: 3px;
	padding-right: 3px;
	margin: 1px;
}

@media (min-width: 756px){
	.background{
		z-index: -2;
	}

	header, #paragraphs{
        height: 100%;
		width: 50%;
    }
 
    header{
        position: fixed;
        left: 0;
        top: 0;
    }
      
    #paragraphs{
        margin-left: 50%;
    }

	#paragraphs p{
        padding: 1rem;
    }

	.subheading{
        width: 100%; 
		font-weight: 600;
	}

	blockquote{
		font-size: 2.25rem;
		margin-left: 10rem;
	}

	.example, .example-2{
		font-weight: 500;
		margin: 2rem 4rem;
	}

	.example:hover, .example-2:hover{
		background-color: var(--blue);
		color: var(--tertiary-color);
		font-weight: 500;
		transition: background-color 0.5s ease-out;

	}

	.TNR, .TOR, .cicero, .plantin, .TNR-2{
		color: var(--secondary-color);
		text-align: center;
		font-size: 5rem;
	}

	.TNR, .TOR{
		color: var(--secondary-color);
		text-align: center;
		font-size: 2.5rem;
		line-height: 10rem;
	}

	footer{
		z-index: 1;
	}

	h1{
		font-size: 11rem;
		line-height: 10rem;
		text-align: bottom;
		margin-top: 4rem;
		margin-left: 1rem;
	}
	
	.arrow{1
		display: none;
	}
	
	.descriptors{
		display: none;
	}
	
	#info{
		display: flex;
		justify-content: space-between;
		color: var(--primary-color);
		font-size: 1.25rem;
		padding-top: 7rem;
		margin: 0rem 1rem;
	}
	
	#publisher{
		margin-right: 2.25rem;
	}

	.square{
		display: none;
	}
	
	h2{
		font-size: 1rem;
		padding: 1rem;
	}
}