html{
	/* background-color: var(--tertiary-color);
	font-family: var(--body-font);
	font-weight: 400;
	color: var(--tertiary-color); */
}

.nav-item-1{
    color: var(--secondary-color);
}

header{
	margin: 1rem;
	display: flex;
    flex-direction: column;
}

.background{
    font-family: var(--heading-font);
    color: var(--primary-color);
    opacity: 3%;
    font-size: 6rem;
    line-height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    word-break: break-word;
}

h1{
	font-family: var(--heading-font);
	color: var(--primary-color);
	font-size: 11rem;
	line-height: 9rem;
	text-align: left;
	margin-top: 3rem;
}


.arrow{
	display: none;
}

.descriptors{
	display: none;
}

#info{
	display: flex;
	justify-content: space-between;
	color: var(--primary-color);
	font-size: 1rem;
	padding-top: 1rem;
}

.square{
	display: none;
}

#introquote{
	font-size: 0.875rem;
    color: var(--primary-color);
	font-weight: 600;
	line-height: 1.125rem;
	text-align: right;
    max-width: 300px;
    margin-top: 1rem;
	margin-right: 1rem;
	position: absolute;
    right: 0;
    top: 21rem;
    width: 140px;
}

h2{
	font-size: 1rem;
	padding: 1rem;
}

.not-italic{
    position: relative;
    display: inline-block;
	font-family: var(--heading-font);
	text-decoration: line-through var(--secondary-color);
}

#block{
	padding: 1rem;
	color: var(--tertiary-color);
}

.subheading{
	display: flex;
	justify-content: space-between;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	width: 100vw; 
    position: relative;
    left: calc(-50vw + 50%);
}

.subheading{
	border-bottom: none;
	position: -webkit-sticky;
	position: sticky;
	top: 90px;
}

#paragraphs{
	background-color: var(--primary-color);
	width: 100vw; 
    position: relative;
    left: calc(-50vw + 50%);
}

.paragraph{
	margin-bottom: 2rem;
}

.example, .soap-example, .fyl-example, .arabic-example{
	background-color: var(--blue);
	color: var(--tertiary-color);
	padding: 1rem;
	font-weight: 400;
	margin: 0;
	border-bottom: 0.1rem solid var(--primary-color);
}

#block p{
	line-height: 1.5rem;
}

/* FONT CHANGES */
.german{
	font-family: "UnifrakturMaguntia";
	font-size: 2.5rem;
	color: var(--secondary-color);
	line-height: 3rem;
}

.roman{
	font-family: "Eczar";
	font-size: 2rem;
	color: var(--secondary-color);
}

.german-bold{
	font-family: "UnifrakturCook";
	font-size: 2.65rem;
	color: var(--secondary-color);
	line-height: 3rem;
}

.german-bigger{
	font-family: "UnifrakturMaguntia";
	font-size: 3.75rem;
	color: var(--secondary-color);
	line-height: 4rem;
}

.german-wide{
	font-family: "UnifrakturMaguntia";
	font-size: 2.5rem;
	letter-spacing: 1rem;
	color: var(--secondary-color);
	line-height: 3rem;
}

.russian{
	color: var(--secondary-color);
	font-size: 2.5rem;
	line-height: 3rem;
}

.sperrsatz{
	letter-spacing: 1rem;
	font-size: 2.5rem;
	line-height: 3rem;
}

.soap-1{
	font-family: "Poppins";
	font-weight: bold;
	color: var(--secondary-color);
	font-size: 5rem;
}

.soap-2{
	font-family: "Poppins";
	font-weight: bold;
	font-style: oblique 30deg;
	color: var(--secondary-color);
	font-size: 5rem;
}

.soap-3{
	font-family: "Poppins";
	font-weight: bold;
	font-style: italic;
	color: var(--secondary-color);
	font-size: 5rem;
}

.poppins{
	font-family: "Poppins";
	font-weight: 500;
	color: var(--secondary-color);
	font-size: 4.75rem;
}

.rotated{
	font-family: "Poppins";
	font-weight: 500;
    transform: rotate(10deg);
    display: inline-block;
	color: var(--secondary-color);
	font-size: 4.75rem;
}

.chinese{
	font-style: italic;
	color: var(--secondary-color);
	font-size: 2.5rem;
	margin: 2rem;
}

.arabic{
	color: var(--secondary-color);
	font-size: 3rem;
}

.arabic-right{
	font-style: italic;
	color: var(--secondary-color);
	font-size: 3rem;
}

.arabic-left{
	font-family: "Amiri";
	color: var(--secondary-color);
	font-size: 3rem;
}
 
.example > p {
    line-height: 1.5rem; 
}

.soap-example{
	line-height: 3rem; 
	padding-top: 2.5rem;
}

.fyl-example{
	line-height: 3rem; 
	padding-top: 2.5rem;
}

.arabic-example{
	line-height: 3rem; 
	padding-top: 2.5rem;
}
/* END OF FONT CHANGES */

blockquote {
	font-family: var(--heading-font);
	font-size: 2rem;
	margin-left: 5rem;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
}

blockquote:hover{
	transition: color 0.5s ease-in-out;
	font-family: var(--accent-font);
	color: var(--secondary-color);
}

nav ul{
    background-color: var(--primary-color);
	color: var(--tertiary-color);
	padding: 2rem;
}

.article-links{
	display: flex;
	gap: 1.5rem;
}

.nav-items{
	text-align: left;
}

mark{
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-weight: 500;
	padding-left: 3px;
	padding-right: 3px;
	margin: 1px;
}


@media (min-width: 1024px){
	.not-italic{
		text-decoration: none;
	}
	.not-italic:before,
	.not-italic:after {
		content: "";
		position: absolute;
		width: 0%;
		height: 0.8rem;
		top: 40%;
	}

	.not-italic:before {
		left: 0;
	}

	.not-italic:after {
		right: 0;
		background: var(--secondary-color);
		transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	.not-italic:hover:before {
		background: var(--secondary-color);
		width: 100%;
		transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	.not-italic:hover:after {
		background: transparent;
		width: 100%;
		transition: 0s;
	}

	/* .not-italic:hover {
		color: var(--blue); 
		font-family: var(--accent-font); 
	} */

	.not-italic:focus{
		color: var(--secondary-color); /* Change text color when focused */
		font-family: var(--accent-font); /* Change to accent font when focused */
	}
}