html{
	background-color: var(--tertiary-color);
	font-family: var(--body-font);
	font-weight: 400;
	color: var(--tertiary-color);
}

.nav-item-1{
    color: var(--secondary-color);
}

h1{
	font-family: var(--heading-font);
	color: var(--primary-color);
	font-size: 11rem;
	line-height: 9rem;
	text-align: left;
	margin-top: 3rem;
}

.arrow{
	display: none;
}

.descriptors{
	display: none;
}

#info{
	display: flex;
	justify-content: space-between;
	color: var(--primary-color);
	font-size: 1rem;
	padding-top: 1rem;
}

.square{
	display: none;
}

#introquote{
	font-size: 0.875rem;
    color: var(--primary-color);
	font-weight: 600;
	line-height: 1.125rem;
	text-align: right;
    max-width: 300px;
    margin-top: 1rem;
	margin-right: 1rem;
	position: absolute;
    right: 0;
    top: 21rem;
    width: 140px;
}

/* OOOO FUN NOTE FOR LATER BUT MAYBE ANIMATE THE STRIKETHROUGH */
.not-italic{
	text-decoration: 0.8rem line-through var(--secondary-color);
	/* transform: skew(-6deg); */

}

h2{
	font-family: var(--heading-font);
	font-size: 1rem;
	padding: 1rem;
}

#block{
	padding: 1rem;
	color: var(--tertiary-color);
}

.subheading{
	display: flex;
	justify-content: space-between;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	width: 100vw; 
    position: relative;
    left: calc(-50vw + 50%);
}

.subheading{
	border-bottom: none;
	position: -webkit-sticky;
	position: sticky;
	top: 90px;
}

#paragraphs{
	background-color: var(--primary-color);
	width: 100vw; 
    position: relative;
    left: calc(-50vw + 50%);
}

#paragraphs p{
	line-height: 1.5rem;
}

.paragraph{
	margin-bottom: 2rem;
}

blockquote {
	font-family: var(--heading-font);
	font-size: 2rem;
	margin-left: 5rem;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
}

nav ul{
    background-color: var(--primary-color);
	color: var(--tertiary-color);
	padding: 2rem;
}

.article-links{
	display: flex;
	gap: 1.5rem;
}

.nav-items{
	text-align: left;
}

mark{
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-weight: 500;
	padding-left: 3px;
	padding-right: 3px;
	margin: 1px;
}