html{
	background-color: #F9F9F9;
	font-family: "Inter";
	font-weight: 400;
	color: 000814
}

h1{
	font-family: "Silkscreen";
	color: #003566;
	font-size: 6.75rem;
	line-height: 4.75rem;
	margin-top: 5rem;
	margin-left: -1rem;
	-webkit-transform: rotate(-9.55deg);
	text-align: center;
}

.arrow{
	display: none;
}

.square{
	height: 42px;
	width: 42px;
	background-color: #FFC300;
	grid-area: square;
}

.descriptors{
	display: none;
}

#info{
	color: #003566;
	display: grid;
	grid-template-columns: 2fr 7fr;
	grid-template-areas:
		"square author "
		"square   publisher";
	margin-top: 10rem;
	margin-bottom: -5rem;
	position: relative;

}

#author{
	grid-area: author;
	margin-bottom: -.25rem;
	margin-left: -1rem;
}

#publisher{
	grid-area: publisher;
	margin-top: -.25rem;
	margin-left: -1rem;
}

#introquote{
	color: #000814;
	font-size: 1.25rem;
	position: relative;
	top: -4rem;
	font-weight: 500;
}

hr{
	border-top: 2px solid #000814;
	margin: 2rem 0rem;
}

h2{
	font-family: "Silkscreen";
	font-size: 0.875rem;
	padding-bottom: 1rem;
}

#paragraphs p{
	color: #000814;
}

.paragraph{
	margin-bottom: 2rem;
}

blockquote {
    color: #000814;
    padding: 1.5rem;
    background-color: #FFC300;
    width: 100vw; 
    position: relative;
    left: calc(-50vw + 50%);
}

nav ul{
    background-color: #F9F9F9;
	color: #000814;
}