html{
	/* background-color: var(--tertiary-color);
	font-family: var(--body-font);
	font-weight: 400;
	color: var(--tertiary-color); */
}

.nav-item-3{
    color: var(--secondary-color);
}

body{
	background-color: var(--secondary-color);
}

header{
	margin: 1rem;
	display: flex;
    flex-direction: column;
}

.background{
    font-family: var(--heading-font);
    color: var(--primary-color);
    opacity: 3%;
    font-size: 6rem;
    line-height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    word-break: break-word;
}

h1{
	font-family: var(--heading-font);
	color: var(--tertiary-color);
	font-size: 5.5rem;
	line-height: 5rem;
	text-align: left;
	margin-top: 9rem;
}

h5{
	line-height: 1;
	font-family: var(--heading-font);
	color: var(--blue);
	font-size: 5.5rem;
	overflow: hidden; 
	max-width: max-content;
	border-right: .5rem solid var(--blue);
	animation: 
	  typing 3.5s steps(50, end),
	  cursor 1.5s step-end infinite;
  }
  
@keyframes typing{
	from {width: 0}
	to {width: 100%}
}
  
@keyframes cursor{
	from, to {border-color: transparent}
	50% {border-color: var(--blue);}
}

h5:hover,
h5:focus {
  font-family: var(--accent-font);
  font-size: 9rem;
}

.arrow{
	display: none;
}

.descriptors{
	display: none;
}

#info{
	display: flex;
	justify-content: space-between;
	color: var(--blue);
	font-size: 1rem;
	padding-top: 1rem;
}

.square{
	display: none;
}

h2{
	font-size: 1rem;
	padding: 1rem;
}

#block{
	padding: 1rem;
	color: var(--tertiary-color);
}

.subheading{
	display: flex;
	justify-content: space-between;
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	width: 100vw; 
    left: calc(-50vw + 50%);
	border-bottom: none;
	position: -webkit-sticky;
	position: sticky;
	top: 90px;
}

#paragraphs{
	background-color: var(--blue);
	width: 100vw; 
    position: relative;
    left: calc(-50vw + 50%);
}

.paragraph{
	margin-bottom: 2rem;
}

.example{
	background-color: var(--primary-color);
	color: var(--tertiary-color);
	padding: 1rem;
	font-weight: 400;
	margin: 0;
}

#block p{
	line-height: 1.5rem;
}

.example{
	line-height: 3rem; 
	padding-top: 2.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;

}

blockquote{
	font-family: var(--heading-font);
}

blockquote:hover{
	transition: color 0.5s ease-in-out;
	font-family: var(--accent-font);
	color: var(--secondary-color);
}

nav ul{
    background-color: var(--primary-color);
	color: var(--tertiary-color);
	padding: 2rem;
}

.article-links{
	display: flex;
	gap: 1.5rem;
}

.nav-items{
	text-align: left;
}

mark{
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-weight: 500;
	padding-left: 3px;
	padding-right: 3px;
	margin: 1px;
}

@media (min-width: 756px){
	.background{
		z-index: -2;
	}

	header, #paragraphs{
        height: 100%;
		width: 50%;
    }
 
    header{
        position: fixed;
        left: 0;
        top: 0;
    }
      
    #paragraphs{
        margin-left: 50%;
    }

	#paragraphs p{
        padding: 1rem;
    }

	.subheading{
        width: 100%; 
		font-weight: 600;
	}

	blockquote{
		font-size: 2.25rem;
		margin-left: 10rem;
	}

	.example{
		font-weight: 500;
		margin: 2rem 4rem;
	}

	.example:hover{
		background-color: var(--tertiary-color);
		color: var(--blue);
		font-weight: 500;
		transition: background-color 0.5s ease-out;

	}

	.rotation {
		display: flex; 
		justify-content: center; 
	}
	

	footer{
		z-index: 1;
	}

	h1{
		font-size: 9rem;
		line-height: 8rem;
		text-align: bottom;
		margin-top: 4rem;
		margin-left: 1rem;
	}
	
	.arrow{
		display: none;
	}
	
	.descriptors{
		display: none;
	}
	
	#info{
		display: flex;
		justify-content: space-between;
		color: var(--primary-color);
		font-size: 1.25rem;
		padding-top: 5.5rem;
		margin: 0rem 1rem;
	}
	
	#publisher{
		margin-right: 2.25rem;
	}

	.square{
		display: none;
	}
	
	#introquote{
		font-size: 1.5rem;
		line-height: 2rem;
		text-align: left; 
		margin: 0; 
		padding: 0; 
		position: absolute;
		top: 34rem; 
		left: 1rem; 
		width: 30rem;
	}
	
	h2{
		font-size: 1rem;
		padding: 1rem;
	}

	h5{
		font-size: 9rem;
		margin-left: 1rem;
		line-height: 1;
	}

	.code{
		color: var(--primary-color)
	}
}