html{
	background-color: white;
	font-family: "Inter";
	font-weight: 400;
}

#title{
	background-color: black;
	width: 100%; 
	padding-bottom: 1rem;
}

h1{
	font-family: "Climate Crisis";
	-webkit-text-stroke: .05rem white;
	font-size: 3.82rem;
	line-height: 4rem;
	margin-top: 8rem;
}

.not-italic{
	color: white;
	-webkit-text-stroke: 0px;
}

#info, #introquote{
	color: white;
}

#info{
	margin-top: 1.825rem;
	font-size: .825rem;
}

h3{
	font-weight: 700;
	letter-spacing: .01rem;
}

h4{
}

#introquote{
	margin-top: 1.25rem;
	font-size: 1.125rem;
	font-weight: 300;
}

.arrow{
	font-size: 1.825rem;
	font-weight: 700;
	color: white;
	margin-top: 1.25rem;
}

#paragraphs{
	color: black;
}

h2{
	font-family: "Climate Crisis";
	font-size: 0.875rem;
	letter-spacing: .01rem;
	padding-top: 1rem;
}
