:root{
    --primary-color: #00001b;
    --secondary-color: #ffd628;
    --tertiary-color: #F9F9F9;
    --blue: #2227f7;
    --heading-font: "Bebas Neue", sans-serif;
    --body-font: "Inter", sans-serif;
    --accent-font: "Sedgwick Ave Display";
}

body{
    background-color: var(--primary-color);
    font-family: var(--body-font);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.background{
    font-family: var(--heading-font);
    color: var(--tertiary-color);
    opacity: 5%;
    font-size: 6rem;
    line-height: 5rem;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: -1;
    word-break: break-word; 
}

.heading{
    margin: 12rem 0rem;
}

.layout{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    gap: 1rem;
    border: .25rem solid var(--tertiary-color);
    font-family: var(--heading-font);
    color: var(--primary-color);
    /* box-shadow: 2px 4px 16px #00000029; */
}

h1{
    font-family: var(--heading-font);
    font-size: 3rem;
    line-height: 3rem;
    color: var(--tertiary-color);
    text-align: center;
    margin-bottom: 2rem;
    transform: rotate(-4deg);
    text-shadow: 2px 2px 3px var(--primary-color);

}

.responsive{
    font-family: var(--accent-font);
    color: var(--secondary-color);
    text-shadow: 2px 2px 3px var(--primary-color);
    font-size: 4rem;
    background-color: var(--blue);
    padding: 0 1rem;
    position: relative;
    z-index: -1;
}

.subheader{
    font-family: var(--body-font);
    color: var(--tertiary-color);
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.aside{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    overflow: visible;
}

.article{
    position: relative;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-size: 1.875rem;
    padding: 2rem;
    outline: none;
    overflow: hidden;
    /* box-shadow: 2px 4px 16px #00000029; */
}

.article:hover{
    background-color: var(--secondary-color);
    color: var(--blue);
    transition: background-color 0.3s ease-in-out;
    font-family: var(--accent-font);
}

.article:hover .author, 
.article:hover .summary {
    color: var(--primary-color); 
}

.motif {
    position: absolute;
    font-size: 18rem;
    opacity: 10%;
    right: 1rem;
} 

.content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 1; 
    max-height: none; 
    overflow: visible; 
}

.arrow{
    font-weight: 900;
}

.author, .summary{
    font-family: var(--body-font);
    color: var(--tertiary-color);
    margin-left: 1rem;
    margin-right: 1rem;
}

.author{
    font-size: 1rem;
    font-style: italic;
    opacity: 75%;
}

.summary{
    font-size: 0.9rem;
}

.info{
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color);
}

.colophon-title{
    font-family: var(--heading-font);
    font-size: 2rem;
    color: var(--secondary-color);
    padding-bottom: 1rem;    
    padding-top: 2rem;

}

.colophon{
    font-family: var(--body-font);
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 2rem;
    background-color: var(--blue);
    color: var(--tertiary-color);
    margin: 1rem;
    /* box-shadow: 2px 4px 16px #00000029; */
}

.container{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    display: flex;
    white-space: nowrap;
    width: 100%;
    height: clamp(3em, 10vw, 6em);
    overflow: hidden;
    font-family: var(--heading-font)
}

.loop-text{
    font-size: clamp(2.5rem, 8vw, 5.5rem);
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 0.25em;
}

.loop-text{
    animation: loopText 10s infinite linear;      
}

@keyframes loopText{
  from{
      transform: translateX(0);
   }
  to{
      transform: translateX(-100%);
   }
}

footer{
    background-color: var(--tertiary-color);
    width: 100vw;
    margin: 0;
}

.footer{
    margin: 2rem;
    margin-bottom: 10rem;

}

@media (min-width: 768px){
    .heading{
        margin: 6rem 0rem;
    }

    .nav{
        font-size: 2rem;
        font-family: var(--heading-font);
        padding: 1.5rem;
        transition: color 0.3s ease, transform 0.3s ease;
    }
    
    .home:hover, .nav-item-1:hover, .nav-item-2:hover, .nav-item-3:hover{
        color: var(--secondary-color);
        transition: color 0.3s ease, transform 0.3s ease;
    }

    .layout{
        padding-top: 3rem;
    }

    h1{
        font-size: 8rem;
        line-height: 8rem;
        margin-bottom: 2rem;
    }
    
    .responsive{
        font-size: 11rem;
        padding: 0 2rem;
    }
    
    .subheader{
        font-size: 2rem;
        font-weight: 500;
    }

    .background{
        font-size: 10rem;
        line-height: 7.5rem;
    }

    .info{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: auto; 
        grid-template-areas: 
            "colophon colophon aside"
            "colophon colophon aside"
            "colophon colophon aside";
        gap: 1rem;
        padding: 2rem;
    }

    .colophon-title{
        font-size: 5rem;
        padding-bottom: 2rem;
    }

    .colophon{
        grid-area: colophon;
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .aside{
        grid-area: aside;
    }

    .article{
        padding: 2rem 0rem;
    }

    .title, .content{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .motif{
        top: .5rem;
    }
}