body{
    background-color: var(--primary-color);
    font-family: var(--body-font);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home{
    color: var(--secondary-color);
}

.background{
    font-family: var(--heading-font);
    color: var(--secondary-color);
    opacity: 5%;
    font-size: 6rem;
    line-height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    word-break: break-word;
}

.heading{
    margin: 12rem 0rem;
}

.layout{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    gap: 1rem;
    border-bottom: .1rem solid var(--tertiary-color);
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1{
    font-family: var(--heading-font);
    font-size: 3rem;
    line-height: 3rem;
    color: var(--tertiary-color);
    text-align: center;
    margin-bottom: 2rem;
    transform: rotate(-4deg);
    /* text-shadow: 2px 2px 3px var(--primary-color); */
}

.responsive{
    font-family: var(--accent-font);
    color: var(--secondary-color);
    /* text-shadow: 2px 2px 3px var(--primary-color); */
    font-size: 4rem;
    background-color: var(--blue);
    padding: 0 1rem;
    position: relative;
    z-index: -1;
}

.subheader{
    font-family: var(--body-font);
    color: var(--tertiary-color);
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.info-colophon{
    margin: 0;
}

.aside{
    display: flex;
    flex-direction: column;
    overflow: visible;
    border-bottom: .1rem solid var(--tertiary-color);
    background-color: var(--tertiary-color);
}

.article{
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-size: 1.875rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: .1rem;
}

.article:hover{
    background-color: var(--secondary-color);
    color: var(--blue);
    transition: background-color 0.3s ease-in-out;
    font-family: var(--accent-font);
}

.article:hover .author{
    color: var(--primary-color);
}

.title{
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.motif{
    font-size: 4rem;
    padding-left: 2rem;
}

.content {
    display: flex;
    gap: 0.5rem; 
}

.arrow{
    font-weight: 900;
}

/* .author, .summary{
    font-family: var(--body-font);
    color: var(--tertiary-color);
    margin-left: 1rem;
    margin-right: 1rem;
} */

.author{
    font-family: var(--body-font);
    color: var(--tertiary-color);
    font-size: 1rem;
    font-style: italic;
    margin: 0;
}

/* .summary{
    font-size: 0.9rem;
    line-height: 1.25rem;
    display: none;
} */

.colophon-title{
    font-family: var(--heading-font);
    font-size: 10rem;
    line-height: 8rem;
    color: var(--secondary-color);
    padding-bottom: 1.5rem;
}

.colophon{
    font-family: var(--body-font);
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 5rem 2rem;
    margin: 0;
    background-color: var(--blue);
    color: var(--tertiary-color);
    border-bottom: .1rem solid var(--tertiary-color);
}

.colophon:hover .colophon-title{
    font-family: var(--accent-font);
}

.colophon:hover mark{
    color: var(--secondary-color);
    font-family: var(--accent-font);
    font-weight: 100;
}

.container{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    display: flex;
    white-space: nowrap;
    width: 100%;
    height: clamp(3em, 10vw, 6em);
    overflow: hidden;
    font-family: var(--heading-font);
}

.loop-text{
    font-size: clamp(2.5rem, 8vw, 5.5rem);
    font-weight: 700;
    padding: 0 0.1em;
}

.loop-text{
    animation: loopText 10s infinite linear;
}

@keyframes loopText{
    from{transform: translateX(0);}
    to{transform: translateX(-100%);}
}

@media (min-width: 1024px){
    .heading{
        margin: 6rem 0rem;
    }

    .nav{
        font-size: 2rem;
        font-family: var(--heading-font);
        padding: 1.5rem;
        transition: color 0.3s ease, transform 0.3s ease;
        position: fixed;
    }

    .home:hover, .nav-item-1:hover, .nav-item-2:hover, .nav-item-3:hover{
        color: var(--secondary-color);
        transition: color 0.3s ease, transform 0.3s ease;
    }

    .layout{padding-top: 3rem;}

    h1{
        font-size: 8rem;
        line-height: 8rem;
        margin-bottom: 2rem;
    }

    .responsive{
        font-size: 11rem;
        padding: 0 2rem;
    }

    .subheader{
        font-size: 2rem;
        font-weight: 500;
    }

    .background{
        font-size: 10rem;
        line-height: 7.5rem;
    }

    .article-details{
        padding: 3rem;
    } 

    .title{
        font-size: 5rem;
        margin-bottom: 1.25rem;
    }

    .author{
        font-size: 1.5rem;
    }

    /* .summary{
        line-height: 1.725rem;
        font-size: 1.1rem;
    } */

    .motif{
        font-size: 10rem;
    }

    .colophon{
        display: flex;
        font-size: 1.25rem;
        line-height: 2rem;
        padding: 7rem 10rem;
    }

    .colophon-title{
        font-size: 10rem;
        padding-bottom: 2rem;
    }

    .colophon-summary{
        padding-left: 7rem;
    }
}
